.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.texto1{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300; 
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
.campo_pesquisa{
    position: absolute;
    width: 380px;
    height: 50px;
    /* left: 130px; */
    top: 159px;
    background: #0B1641;
    border-radius: 8px;
    border-style: none;
    font-family: Roboto;
    /* font-style: normal; */
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
}