<div class="container">
    <span class="texto1">Ofertas</span> <br>
    <div id="divPesquisa" fxLayout="row"  fxLayoutAlign="space-between start">
        <div class="campo_pesquisa">
            <div style="margin-top: 7px;" fxLayout="row" >
                <mat-icon style="margin: auto 10px; color: #ffffff6b;">search</mat-icon>
                <input type="text" placeholder="Procurar">
            </div>
        </div>    
        
        <div fxLayout="row" fxLayoutAlign="end start">
            <span class="textoOrdenarPor">
                Ordenar por:
            </span>
            <button id="botaoSelect" class="select" (click)="abreSelect()">
                {{option}}
            </button>     

            <div id="select" style="display: none;" >
                <div fxLayout="column">
                    <button (click)="abreSelect()" style="border-radius: 8px 8px 0 0;" class="select">
                        {{option}}
                    </button>
                    <div fxLayout="column">
                        <button (click)="ordenaPor('desconto')" class="option">
                            % de Desconto
                        </button>
                        <button (click)="ordenaPor('maior_preco')" class="option">
                            Maior preço
                        </button>
                        <button (click)="ordenaPor('menor_preco')" class="option">
                            Menor preço
                        </button>
                        <button (click)="ordenaPor('titulo')" style="border-radius: 0 0 8px 8px;" class="option">
                            Título
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" *ngIf="ofertas">
        <div class="card" *ngFor="let game of pageSize">
                <img id="banner" class="imgCard" src="https://cdn.akamai.steamstatic.com/steam/apps/{{game.steamAppID}}/header.jpg" onError="this.src = './assets/sem-imagem.jpg'">
            <div style="padding: 10px;">
                    <div fxLayout="row">
                        <span class="titulo">{{game.title}}</span>
                    </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <button class="botaoDetalhes">DETALHES</button>
                    <div fxLayout="row">
                        <div fxLayout="column">
                            <span class="precoNormal">{{game.normalPrice}}</span>
                            <span class="precoPromocao">{{game.salePrice}}</span>
                        </div>
                        <button class="botaoVerde">{{desconto(game.salePrice, game.normalPrice)}}%</button>            
                    </div>
                </div>            
            </div>
        </div>          
    </div>


    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="pageSize?.length == soma">
        <button class="botaoCarregar" (click)="botaoCarregarMais()">Carregar mais</button>
    </div>

</div>
