<div class="container">
    <span class="texto1">Ofertas</span> <br>
    <div fxLayout="row" fxLayoutAlign="space-between center" >
        <div class="campo_pesquisa">
            <div style="margin-top: 7px;" fxLayout="row" >
                <mat-icon style="margin: auto 10px; color: #ffffff6b;">search</mat-icon>
                <input type="text" placeholder="Procurar">
            </div>
        </div>    
        
        <div fxLayout="row" fxLayoutAlign="end center">
            <span class="textoOrdenarPor">
                Ordenar por:
            </span>
            <select>
                <option>% de Desconto</option>
                <option>Maior preço</option>
                <option>Menor preço</option>
                <option>Título</option>
            </select>            
        </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
        <div class="card">
                <img class="imgCard" src="https://cdn.akamai.steamstatic.com/steam/apps/418240/header.jpg">
            <div style="padding: 10px;">
                    <div fxLayout="row">
                        <span class="titulo">RAGE 2</span>
                    </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <button class="botaoDetalhes">DETALHES</button>
                    <div fxLayout="row">
                        <div fxLayout="column">
                            <span class="precoNormal">$ 199,00</span>
                            <span class="precoPromocao">$ 0,00</span>
                        </div>
                        <button class="botaoVerde">GRÁTIS</button>            
                    </div>
                </div>            
            </div>
        </div>        




        <div class="card">
            <img class="imgCard" src="https://cdn.akamai.steamstatic.com/steam/apps/418240/header.jpg">
        <div style="padding: 10px;">
                <div fxLayout="row">
                    <span class="titulo">RAGE 2</span>
                </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button class="botaoDetalhes">DETALHES</button>
                <div fxLayout="row">
                    <div fxLayout="column">
                        <span class="precoNormal">$ 199,00</span>
                        <span class="precoPromocao">$ 0,00</span>
                    </div>
                    <button class="botaoVerde">GRÁTIS</button>            
                </div>
            </div>            
        </div>
    </div>    





    <div class="card">
        <img class="imgCard" src="https://cdn.akamai.steamstatic.com/steam/apps/418240/header.jpg">
    <div style="padding: 10px;">
            <div fxLayout="row">
                <span class="titulo">RAGE 2</span>
            </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button class="botaoDetalhes">DETALHES</button>
            <div fxLayout="row">
                <div fxLayout="column">
                    <span class="precoNormal">$ 199,00</span>
                    <span class="precoPromocao">$ 0,00</span>
                </div>
                <button class="botaoVerde">GRÁTIS</button>            
            </div>
        </div>            
    </div>
</div>    





<div class="card">
    <img class="imgCard" src="https://cdn.akamai.steamstatic.com/steam/apps/418240/header.jpg">
<div style="padding: 10px;">
        <div fxLayout="row">
            <span class="titulo">RAGE 2</span>
        </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <button class="botaoDetalhes">DETALHES</button>
        <div fxLayout="row">
            <div fxLayout="column">
                <span class="precoNormal">$ 199,00</span>
                <span class="precoPromocao">$ 0,00</span>
            </div>
            <button class="botaoVerde">GRÁTIS</button>            
        </div>
    </div>            
</div>
</div>    





<div class="card">
    <img class="imgCard" src="https://cdn.akamai.steamstatic.com/steam/apps/418240/header.jpg">
<div style="padding: 10px;">
        <div fxLayout="row">
            <span class="titulo">RAGE 2</span>
        </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <button class="botaoDetalhes">DETALHES</button>
        <div fxLayout="row">
            <div fxLayout="column">
                <span class="precoNormal">$ 199,00</span>
                <span class="precoPromocao">$ 0,00</span>
            </div>
            <button class="botaoVerde">GRÁTIS</button>            
        </div>
    </div>            
</div>
</div>    
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" >
        <button class="botaoCarregar">Carregar mais</button>
    </div>
    

</div>
