.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.texto1{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300; 
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
.campo_pesquisa{
    /* position: absolute; */
    width: 380px;
    height: 50px;
    top: 159px;
    background: #0B1641;
    border-radius: 8px;
    border-style: none;
    font-family: Roboto;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff6b;
    align-items: center;
    padding-top: 5px;
    padding-right: 6px;
    /* margin: 15px 0px; */
}
input{
    width: 330px;
    height: 30px;
    background-color: #0B1641;
    border: none;
    font-family: Roboto;
    font-weight: 200;
    font-size: 18px;
    color: #FFFFFF;
    outline: none;
}
#fechar{
    cursor: pointer;
}
.select{
    background: #0B1641;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 180px;
    height: 45px;
    border: none;
    font-family: Roboto;
    font-weight: 200;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    z-index: 999;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    position: relative;
}

.option{
    background: #0B1641;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 180px;
    height: 30px;
    border: none;
    font-family: Roboto;
    font-weight: 200;
    font-size: 18px;
    color: #ffffff6b;
    outline: none;
    cursor: pointer;
    text-align: left;
    z-index: 999;
    margin-top: -1px;
}
.option:hover{
    color: #C70160
}
.textoOrdenarPor{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    text-shadow: 2px 2px 8px black;
    margin-right: 20px;
    margin-top: 12px;
}
.card{
    height: 251px;
    width: 380px;
    border-radius: 8px;
    background: #0B1641;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 15px;
}
.imgCard{
	max-width: 100%;
	width: 380px;
	height: 147px;
	object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.titulo{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: Ellipsis;
    -o-text-overflow: Ellipsis;
}
.botaoDetalhes{
    background: #C70160;
    border-radius: 8px;
    width: 116px;
    height: 39px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
.precoNormal{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    text-decoration-line: line-through;
    color: #FFFFFF;
}
.precoPromocao{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
}
.botaoVerde{
    background: #16857B;
    border-radius: 8px;
    height: 39px;
    width: 84px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-left: 10px;
}
.botaoCarregar{
    width: 380px;
    height: 50px;
    background: #0B1641;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}
.botaoCarregar:hover{
    color:#C70160;
}

.divPesquisa{
    margin-top: 20px;
    height: 90px;
}
.imgSeta{
    height: 12px; 
    margin-left: 7px;
}

@media(max-width: 959px){
    .campo_pesquisa{
        margin-top: 40px;
    }
    .textoOrdenarPor{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .divPesquisa{
        margin-top: 0px;
    }
}

@media (max-width: 768px){
    .campo_pesquisa{
        width: 174px;
        height: 36px;
        margin-top: 33px;
    }
    input{
        width: 123px;
        height: 30px;
        margin-top: -5px;
        font-size: 14px;
    }
    .select{
        width: 122px;
        height: 36px;
        font-size: 14px;
    }
    .option{
        width: 122px;
        height: 36px;
        font-size: 14px;        
    }
    .textoOrdenarPor{
        font-size: 10px;
        margin-bottom: 0px;
    }
    .ajustaTexto1{
        justify-content: center;
        display: flex;
    }
    .texto1{
        font-size: 18px;
    }
    .container{
        width: 96%;
    }
    .imgSeta{
        height: 10px;
        margin-left: 3px;
    }
    .divPesquisa{
        height: 70px;
    }
    .botaoCarregar{
        width: 304px;
        font-size: 18px;
    }
    .card{
        width: 304px;
        height: 180px;
    }
    .titulo{
        font-size: 18px;
    }
    .botaoDetalhes{
        width: 92px;
        height: 30px;
        font-size: 14px;
    }
    .botaoVerde{
        width: 64px;
        height: 31px;
        font-size: 14px;
    }
    .precoNormal{
        font-size: 10px;
    }
    .precoPromocao{
        font-size: 14px;
    }
    .imgCard{
        width: 304px;
        height: 95px;
    }
    .botaoDetalhes{
        margin-top: 0px;
    }

}