<section>
    <div class="container">
        <h2>Cadastro de Ofertas</h2>

        <form [formGroup]="form">
            <div class="grid">
                <div class="campos">
                    <mat-form-field appearance="outline">
                        <mat-label>ID</mat-label>
                        <input formControlName="id" type="number" matInput placeholder="ID do jogo">
                    </mat-form-field>
                </div>


                <div class="campos">
                    <mat-form-field appearance="outline">
                        <mat-label>Título</mat-label>
                        <input formControlName="title" matInput placeholder="Título do jogo">
                    </mat-form-field>
                </div>

                <div class="campos">
                    <mat-form-field appearance="outline">
                        <mat-label>Preço</mat-label>
                        <input formControlName="normalPrice" matInput placeholder="Título do jogo">
                    </mat-form-field>
                </div>

                <div class="campos">
                    <mat-form-field appearance="outline">
                        <mat-label>Preço com desconto</mat-label>
                        <input formControlName="salePrice" matInput placeholder="Preço com desconto">
                    </mat-form-field>
                </div>

                <div class="campos">
                    <mat-form-field appearance="outline">
                        <mat-label>Loja</mat-label>
                        <mat-select formControlName="loja">
                            <mat-option *ngFor="let loja of lojas" value="{{loja.nome}}">{{loja.nome}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>            
        </form>

        <div class="campos">
            <button mat-raised-button color="primary" (click)="setaMetodo()" [disabled]="form.invalid">Salvar</button>
        </div>
    </div>
</section>