section {
 
    .container {
        max-width: 1200px;
        width: 100%;        
        
        table {
            width: 100%;
            border: 1px solid #e0e0e0;
        }
        tr:hover {
            background-color: rgba(128, 128, 128, 0.247);
          }
          
    }
}