<header>
    <div class="nav-bar">
        <img src="assets/logo-horizontal.svg">
    </div>    
</header>
<body>
    <div style="height: 100px;"></div>
    <app-principal></app-principal>
</body>
<footer fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div style="width: 90%;" fxLayout="column" fxLayoutAlign="center center">
            <img src="assets/logo-icone.svg">
            <p class="textoFooter">
                © 2021, Game Tracker Inc. Todos os direitos reservados. Nulla facilisi. Etiam sagittis congue tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse eu velit et ante luctus egestas. Aenean sed nisi tellus. Duis non ornare libero. Quisque suscipit maximus nisi, in gravida felis. Cras ornare mauris ac nisi congue, ut condimentum sem tincidunt. Phasellus semper tellus malesuada turpis gravida cursus. Duis nec eleifend nunc, vitae finibus elit. Aliquam eget diam vitae purus suscipit viverra.
            </p>
        </div>
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 90%;">
                <a class="textosLink">Termos de Serviço</a>
                <a class="textosLink">Política de Privacidade</a>
                <a class="textosLink" href="https://github.com/StefaniniInspiring/desafio">Trabalhe conosco</a>
                <a class="textosLink">Contato</a>
            </div>        
    </div>
</footer>